
 <div class="personalCenter container">
     <div class="pcLeft">
            <ul class="list-group">
                <li class="list-group-item">投资项目</li>
                <li class="list-group-item">借款项目</li>
                <ul>
                    <li>借款项目</li>
                    <li>还款明细</li>
                </ul>
                <li class="list-group-item">我的账户</li> 
                <ul>
                    <li>账户信息</li>
                    <li>实名认证</li>
                    <li>银行卡管理</li>
                    <li>登录记录</li>
                </ul>
                <li class="list-group-item">资产详情</li> 
                <ul>
                    <li>账户流水</li>
                    <li>冲值明细</li>
                    <li>提现记录</li>
                    <li>收款明细</li>
                </ul>
                <li class="list-group-item">个人资料</li>
            </ul>
     </div>
    <div class="pcRigth">
       
        <table class="table table-striped">
            <caption>账户流水</caption>
            <thead>
                <tr>
                    <th>发生额(¥)</th>
                    <th>账户余额(¥)</th>
                    <th>可用余额</th>
                    <th>冻结金额</th>
                    <th>发生时间</th>
                    <th>类型</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8.53</td>
                    <td>2,451,45</td>
                    <td>889.45</td>
                    <td>1,570.00</td>
                    <td>2017-05-20 16:03:45</td>
                    <td>收款</td>
                </tr>
                <tr>
                    <td>-0.06</td>
                    <td>2,451,45</td>
                    <td>889.45</td>
                    <td>1,570.00</td>
                    <td>2017-05-20 16:03:45</td>
                    <td>利息管理费</td>
                </tr>
                <tr>
                    <td>8.53</td>
                    <td>2,451,45</td>
                    <td>889.45</td>
                    <td>1,570.00</td>
                    <td>2017-05-20 16:03:45</td>
                    <td>收款</td>
                </tr>
            
                </tbody>
        </table>
    </div>
 </div>

