<!-- 引进当前页面样式 -->
<link rel="stylesheet" href="/dist/css/borrow2.min.css">
<section class="container container-fluid el-borrow">
         <div class="row">
                <div class="col-sm-4 CreditLoan">
                    <div class="loan1">信用贷</div>
                    <div class="CreditLoan">
                        <p class="lend">可借金额 ¥ 2,000.00</p>
                        <div class="condition">
                            <p><a href="#">申请条件</a></p>
                            <p>仅限成都地区</p>
                        </div> 
                        <ul class="data">
                            <li>填写基本资料</li>
                            <li>身份验证</li>
                            <li>视频验证</li>
                        </ul>
                    </div>
                    <p type="button" class="button"><a href="#">立刻申请</a></p>
                </div>
            
                <div class="col-sm-4 CreditLoan">
                    <div class="loan2">车易贷</div>
                    <div class="CreditLoan">
                        <p class="lend">可借金额 ¥ 2,000.00</p>
                        <div class="condition">
                            <p><a href="#">申请条件</a></p>
                            <p>仅限成都地区</p>
                        </div> 
                        <ul class="data">
                            <li>填写基本资料</li>
                            <li>身份验证</li>
                            <li>视频验证</li>
                        </ul>
                    </div>
                    <p type="button" class="button"><a href="#">立刻申请</a></p>
                </div>
            
                <div class="col-sm-4 CreditLoan">
                    <div class="loan3">房易贷</div>
                    <div class="CreditLoan">
                        <p class="lend">可借金额 ¥ 2,000.00</p>
                        <div class="condition">
                            <p><a href="#">申请条件</a></p>
                            <p>仅限成都地区</p>
                        </div> 
                        <ul class="data">
                            <li>填写基本资料</li>
                            <li>身份验证</li>
                            <li>视频验证</li>
                        </ul>
                    </div>
                    <p type="button" class="button"><a href="#">立刻申请</a></p>
                </div>
               
        </div> 
</section>
