<!-- 引入当前样式 -->
<link rel="stylesheet" href="/dist/css/borrow_info.min.css">
<section class="container container-fluid el-borrow">
    <!-- 顶部 -->
        <div class="row service container">
              
                <div class="col-xs-6 col-sm-3 chengdu">
                    <p class="open">借款人</p>
                    <div class="houzi"><img src="/assets/images/index/head_icon.jpg"><p>zs</p></div>
                    
                    <p>贯籍：四川-成都</p>
                    <p>专职客服：<a href="#">码妹妹</a></p>
                    <p>认证信息：<span class="glyphicon glyphicon-user"></span></p>
                </div>
                <div class="col-xs-6 col-sm-6 zs">
                    <p class="zss">ZS借款</p>
                    <p>借款金额<span>2，000.00</span></p>
                    <p>年化利率<span>10.00%</span></p>
                    <p>借款期限<span>3月</span></p>
                    <p>投标奖励<span>0.00</span></p>
                    <p>还款方式<span>按月分期还款</span></p>
                    <p>最小投标<span>20.00</span></p>
                    <p>剩余时间</p>
                </div>          
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-6 col-sm-3 total">
                  <p>投标总数<span>2</span></p>
                  <p>还需金额<span>0.00元</span></p>
                  <p>投标进度</p>
                  <p></p>
                  <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          <span class="sr-only">90% Complete</span>
                        </div>
                    </div>
                  <p>还款中</p>
                </div>
        </div>
        

        <div class="panel panel-default">
            <div class="panel-heading">
                借款人信息
            </div>
            <div class="panel-body">
                <table>
                    <tbody><tr>
                        <td class="muted text-right">注册时间</td> 
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            2015-03-30
                        </td>
                        <td class="muted text-right">借款额度</td>
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            2000
                        </td>
                        <td class="muted text-right">性别</td>
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            男
                        </td>
                        <td class="muted text-right">年龄</td>
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            25
                        </td>
                    </tr>
                    <tr>
                        <td class="muted text-right">文化程度</td>
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            硕士研究生
                        </td>
                        <td class="muted text-right">每月收入</td>
                        <td width="20%" style="padding-left: 10px;" class="text-primary">
                            3000-4999
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: 16px;">审核认证信息</div>
            </div>
            <div class="panel-body">
                <table>
                    <tbody><tr>
                        <td class="muted text-right">认证时态度</td>
                        <td width="10%" style="padding-left: 10px;" class="text-primary">
                            优
                        </td>
                        <td class="muted text-right">信贷知识掌握情况</td>
                        <td width="10%" style="padding-left: 10px;" class="text-primary">
                            优
                        </td>
                        <td class="muted text-right">借款感言</td>
                        <td width="50%" style="padding-left: 10px;" class="text-primary">
                            给我2000度过难关
                        </td>
                    </tr>
                    <tr>
                        <td class="muted text-right">审核员认证意见</td>
                        <td width="150px" style="padding-left: 10px;" colspan="5" class="text-primary">
                            <div style="word-break:break-all;">
                                啊啊啊啊啊
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: 16px;">材料信息</div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>材料类型</th>
                        <th>材料数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer;" lid="2101" st="1" class="more">
                        <th>本人身份证</th>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: 16px;">还款情况</div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>还款状态</th>
                        <th>最近一周</th>
                        <th>最近1月</th>
                        <th>最近6月</th>
                        <th>6个月前</th>
                        <th>总计[?]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>提前还款</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>准时还款</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>逾期已还</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>逾期未还</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: 16px;">投标记录</div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>投标人</th>
                        <th>年利率 </th>
                        <th>有效金额(¥)</th>
                        <th>投标时间</th>
                        <th>类型</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr>
                        <td>si*****</td>
                        <td>

                            10%
                        </td>
                        <td style="padding-right:60px;" class="text-primary">
                            1,000.00
                        </td>
                        <td>
                            2016-05-11 06:42:11
                        </td>
                        <td>手动投标</td>
                    </tr>

                    <tr>
                        <td>xia*****</td>
                        <td>

                            10%
                        </td>
                        <td style="padding-right:60px;" class="text-primary">
                            1,000.00
                        </td>
                        <td>
                            2016-05-12 13:44:01
                        </td>
                        <td>手动投标</td>
                    </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>