<section id="invest" class="container">
    <table class="row">
        <h4 class="list"> 投资列表</h4>
        <div class="state mt30">
            标的状态：
            <div class="btn-group state " data-toggle="buttons">
                <label class="btn btn-default active ">
                    <input class="" type="radio" name="options" id="option1"> 查看全部
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option2"> 招标中
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option3"> 还款中
                </label>
            </div>
        </div>
        <!-- 选项卡菜单-->
        <!-- <ul id="myTab" class="nav nav-pills" role="tablist">
            <li class="active"><a href="#bulletin" role="tab" data-toggle="pill">公告</a></li>
            <li><a href="#rule" role="tab" data-toggle="pill">规则</a></li>
            <li><a href="#forum" role="tab" data-toggle="pill">论坛</a></li>
            <li><a href="#security" role="tab" data-toggle="pill">安全</a></li>
            <li><a href="#welfare" role="tab" data-toggle="pill">公益</a></li>
        </ul> -->
        <!-- 选项卡面板 -->
        <!-- <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="bulletin">公告内容面板</div>
            <div class="tab-pane fade" id="rule">规则内容面板</div>
            <div class="tab-pane fade" id="forum">论坛内容面板</div>
            <div class="tab-pane fade" id="security">安全内容面板</div>
            <div class="tab-pane fade" id="welfare">公益内容面板</div>
        </div> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>借款人</th>
                    <th>借款标题</th>
                    <th>年利率</th>
                    <th>金额</th>
                    <th>还款方式</th>
                    <th>进度</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>杨勋</td>
                    <td>学习情商课2万元</td>
                    <td>10%</td>
                    <td>20000</td>
                    <td>按月分期还款</td>
                    <td>20%</td>
                    <td><button class="btn btn-danger"><span class="h6">查看</span></button> </td>
                </tr>
                <tr>
                    <td>杨勋</td>
                    <td>学习情商课2万元</td>
                    <td>10%</td>
                    <td>20000</td>
                    <td>按月分期还款</td>
                    <td>20%</td>
                    <td><button class="btn btn-danger"><span class="h6">查看</span></button> </td>
                </tr>
                <tr>
                    <td>杨勋</td>
                    <td>学习情商课2万元</td>
                    <td>10%</td>
                    <td>20000</td>
                    <td>按月分期还款</td>
                    <td>20%</td>
                    <td><button class="btn btn-danger"><span class="h6">查看</span></button> </td>
                </tr>
                <tr>
                    <td>杨勋</td>
                    <td>学习情商课2万元</td>
                    <td>10%</td>
                    <td>20000</td>
                    <td>按月分期还款</td>
                    <td>20%</td>
                    <td><button class="btn btn-danger"><span class="h6">查看</span></button> </td>
                </tr>
                <tr>
                    <td>杨勋</td>
                    <td>学习情商课2万元</td>
                    <td>10%</td>
                    <td>20000</td>
                    <td>按月分期还款</td>
                    <td>20%</td>
                    <td><button class="btn btn-danger"><span class="h6">查看</span></button> </td>
                </tr>
            </tbody>
        </table>
        </div>

</section>